* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
  height: 100vh;
}

.App {
  background-image: url("./assets/karl-magnuson-HQR_JXd-fPs-unsplash\ \(1\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

main {
  min-height: 100vh;
  padding: 20px;
}

.search-box {
  justify-content: center;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.btn-find {
  outline: none;
  width: 15%;
  font-family: "Montserrat", sans-serif;
  background: none;
  background-color: rgb(95, 88, 77);
  border: none;
  border-radius: 0px 16px 16px 16px;
  box-shadow: 0px 5px rgba(0, 0, 8, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.btn-find:hover {
  background-color: rgba(156, 148, 134, 0.61);
}

.search-bar {
  padding: 15px;
  width: 60%;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  appearance: none;
  background: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 0px 16px 0px;
  font-weight: bold;
  box-shadow: 0px 5px rgba(0, 0, 8, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.3s ease;
}

.search-bar:focus {
  background-color: rgba(255, 255, 255, 0.795);
}

.location-box .location {
  color: white;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.74);
}

.location-box .date {
  color: #ffff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.74);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: white;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.74);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #ffff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.74);
}
